<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAbWq6GdlU1r_afI6vH312SvoysQO545uo</string>
	<key>GCM_SENDER_ID</key>
	<string>836138249695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.aamaev.RickAndMortyApp</string>
	<key>PROJECT_ID</key>
	<string>rickandmortyapp-7890c</string>
	<key>STORAGE_BUCKET</key>
	<string>rickandmortyapp-7890c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:836138249695:ios:ae4e0908257fe7dabba86a</string>
</dict>
</plist>